@import url("http://weloveiconfonts.com/api/?family=entypo");
body{

			padding:0;
			margin:0;
			overflow-y:hidden;
      overflow-x: hidden;
			}
#myCarousel{
width: 380px;
margin-left: -30px;
position: absolute;
}
.cust{
  background-color: #3B3131;
  height: 70px;
  opacity: 0.7;
  color:white;
  border-style: none;
  width: auto;
  padding: 10px;
  /*margin-left: -150px;
  margin-right: -150px;*/
}
.btn:hover{
  background-color: #ffff00;
}
.card-container{
  perspective: 500;
}
#card{
  transition:all 0.3s ease;
  transform-style: preserve-3d;
}
#card:hover{
  transform: rotateY(180deg);
  /*transform: rotatex(180deg);*/
}


.btn.request:hover{
  background-color:  #008000;
}
.btn{
border-radius: 0;
border-top-color: white;
position: relative;
margin-right: 20px;
font-size: 12px;
text-align: center;
}
.btn.request{
  background-color: black;
  color: white;
}
.b{
  background-color: transparent;
}
#div1{
  background-image: url('../image/bar-11.jpg');
  width: auto;
  height:505px;
  background-size: cover;
  position: relative;
}
.x{
  opacity: 0.9;
  -webkit-align-self: center;

}

.q{
  margin-left: 10%;
}
.jumbotron{
  border-radius: 0;
  background-color: #3B3131;
  width: 40%;

  margin-top: 5.2%;
  border-style: double;
  border-color: grey;


}

#set{
  font-family: sans-serif;
  position: absolute;
  z-index: 1;
}
#sh{
  position: relative;
  z-index: 2;
  border-style:outset;
  padding:4px;
  border-top-color:white;
  width: 15%;
  margin-top: -4%;
  text-align: center;
  margin-left: 42%;
}
#end1{

    opacity: 0.8;
    background-color: transparent;
    background-color: #b34700;
    color: white;
    width: 100%;
    margin-top: -4.5%;
    margin-bottom: 0;
    height: 60px;

}
#raise{
  font-family: sans-serif;
  font-weight: bolder;
  /*margin-left: 20%;*/
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-right: 20%;


}
#bottom {
    letter-spacing: 2px;
    align-self: flex-end;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    bottom:0;
    left:0;
    font-family: sans-serif;
    font-weight: bolder;
}

.jcust{
 position:relative;
 margin-top: 100px;
 margin-left: 20%;
 width: 80%;
}
.ra{
  color:black;
  color:black;
  font-weight:bolder;

}

img{
  -webkit-filter: grayscale(0.4);
}
img:hover{
  -webkit-filter: none;
}
.m{
text-align:justify;
margin-left: 0px;
text-decoration:none;

}
.g{
  margin-left: 15px;
  width: inherit;
}
.l{
  margin-right: 1px;
}
#intro{
  width: 800px;
  margin-right: 10px;
  text-align: justify;
}
h3{
  margin-left: 10%;
  margin-right: 20%;
  font-weight: bolder;
  color: white;
}
#outer{
position: relative;

height: 800px;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../image/12.jpg");
background-repeat: no-repeat;
margin-left: -150px;
margin-right: -150px;

}
.col-xs-12.col-md-8.yi{
  background-image: url("../image/34.jpg");
  width: 700px;
  height: 350px;
  margin-left: .5%;
  background-size: cover;
}
.col-xs-12.col-md-8.qi{
  background-image: url("../image/t.jpg");
  width: 700px;
  height: 350px;
  margin-left: 1.5%;
  background-size: cover;
}
.yi:hover{
  transform: rotatex(360deg);

}
.yi{
  transition: all 0.8s ease;
}
.qi:hover{
  transform: rotatex(360deg);

}
.qi{
  transition: all 0.6s ease;
}
.op:hover{
  transform: rotatex(360deg);

}
.op{
  transition: all 0.6s ease;
}

.col-xs-12.col-md-4.op{
  background-image: url("../image/v.jpg");
  width: 300px;
  height: 350px;
  margin-left: 6.5%;
  background-size: cover;
}

.bl{
  position: absolute;
  z-index: 1;
  align-self: flex-end;
  text-decoration: none;
  margin-top: 43.5%;
  margin-left: 58%;
  padding-left: 5%;
  padding-right: 21.5%;
  padding-top: 2%;
  opacity: 0.7;
  padding-bottom: 2%;
  background-color: #b34700;

}
#he{
  text-align: center;
  margin-top: 4%;
}
.eh{
  text-align: center;
  margin-top: 4%;
  color: white;
}
#flip {
  width: 286px;
  height: 340px;
  border-style:solid;
  border-width: thin;
  border-color: grey;
  margin-top:2%;
  color: white;
  margin-right: 1px;
  font-weight: lighter;
  margin-left: -7px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  backface-visibility: hidden;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/ic.jpg");
}
  .back{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 350px;
  background-color: #009999;
  color: white;
  font-weight: lighter;
  margin-left: 5px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
  .back{
    width: 300px;
    height: 350px;
    background-size: cover;
    margin-right:0%;
    margin-left: 1.5%;
    color: grey;
  }

.info{
  margin-top: 10%;
  background-color: #b34700;
}
.ga{
  color:white;
  font-weight: bolder;
  text-align: center;
  font-size: 40;
}
.cd{
  /*background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/ic.jpg");*/
  width: 300px;
  height: 350px;
  background-size: cover;
  margin-right:6%;
  margin-left: 1.5%;
  color: grey;
}
.sche{
  background-color: #b34700;
  width: 20%;
  z-index: 2;
  text-align: center;
  margin-left: 40%;
  margin-top: -40px;
  margin-bottom: -36px;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: white;


}
.te{
  color: white;

}
.lk{
  padding-right: 24%;
}
.ll{
  margin-top: 106%;
  margin-left: 43%;
  padding-right: 26.5%;
}
#v{
  margin-left: 5%;
  background-image: url("../image/v.jpg");
}
.q{
  margin-left: 7%;
  /*background-image: url("../image/v.jpg");*/
}
.t2{
  text-align: justify;

}
.tour{
  width: 110px;
}
.cv{
  margin-top: 6%;
}
.ee{
  margin-left: -40px;
  width: 530px;

}
.apply{
  width: 130px;
}

div#end1{
  align-self:flex-end;
}
#inner{
position:relative;
width: 900px;
height: 500px;
background-color: #3B3131;
color: white;
opacity: 0.8;
margin-right: 30%;
margin-left: 20%;
margin-top: 10%;
margin-bottom: 30%;
border-color: grey;
border-radius: 1px;
border-style: double;
}
.t1{
  text-align: justify;

}
.g{
  background-image: url("../image/a.jpg");
  background-size: cover;
  width: 110px;
  height: 80px;
}
.h{
  background-image: url("../image/q.jpg");
  background-size: cover;
  width: 110px;
  height: 80px;
}
.j{
  background-image: url("../image/z.jpg");
  background-size: cover;
  width: 110px;
  height: 80px;
}
.a{
  background-color: white;
  width:560px;
  height: 350px;
  margin: 0;
  position: relative;
}
.c{
  background-color: white;
  width:560px;
  height: 350px;
  margin: 0;
  position:relative;
}
.footer{

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../image/36.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
  margin-right: -150px;
  margin-left: -150px;
}
.ff{
  margin-top: 15%;

  color:white;
}
.xx{
  text-align: center;
  color: white;

}
.social{
  white-space: nowrap;

  align-items: center;

}
.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  font-family: Entypo;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  color: #555;
  border-radius: 10px;
  background: #eee;
  opacity: 0.5;
  margin-right: 10px;
  cursor: pointer;
  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.ww{
  margin-left: 40%;
}
.apply{
  background-color: #e65c00;
}
#lala{
  position: absolute;
  text-align: left;
  color: white;
  margin-left: 10%;
  font-family:cursive;
}
#me{
  position: relative;
  text-align: right;
  color: white;
  margin-right: 20%;
  font-family:cursive;

}
.end{
margin-top: 3%;
background-color:black;
height: 50px;
margin-right: -254px;
margin-left: -150px;

padding-top: 1%;
align-self: flex-end;

}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .active.right { left: 33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
